*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: aqua;
    font-weight: bolder;
    font-size: x-large;
    /* transform: 0.5s; */
}

a
{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    /* color: aqua;
    font-size: 2rem;
    font-weight: bolder;
    transform: 0.5s; */
    overflow: hidden;
    
}